.container {
  height: 522px;
  width: 384px;
  background-color: white;
  padding: 1.2rem;
  border-radius: 2rem;
  box-shadow: 6px 6px 0 black;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(47, 88%, 63%);
  font-family: figtree;
}
.second-cont {
  margin: 1.5rem 0;
}
.pub {
  color: hsl(0, 0%, 7%);
  display: block;
}
p {
  color: hsl(0, 0%, 42%);
  width: 80%;
}
.le {
  font-weight: 600;
  display: inline-block;
  background-color: hsl(47, 88%, 63%);
  padding: 0.9rem 1.5rem;
  margin-bottom: 0.9rem;
}
.img-1 {
  width: 100%;
}
.last-el {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.last-el img {
  height: 40px;
}
@media (max-width: 600px) {
  .container {
    width: 80%;
  }
}
